packaging_format = 2

id = "nitter_aggregator"
name = "Nitter Aggregator"
description.en = "Follow multiple Twitter/X accounts via Nitter without needing an X.com account"
description.fr = "Suivez plusieurs comptes Twitter/X via Nitter sans avoir besoin d'un compte X.com"

version = "1.0~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://github.com/Citify/nitter-aggregator"
code = "https://github.com/Citify/nitter-aggregator_ynh"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/nitter"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/Citify/nitter-aggregator/archive/refs/heads/main.tar.gz"
    sha256 = "89eaf12a2331fb25f618f9e58163468c83c791aad40fb8fad70f0a4b0431c984"
    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = ["php8.2-fpm", "php8.2-curl"]
