packaging_format = 2

id = "nitter_aggregator"
name = "Nitter Aggregator"
description.en = "Follow multiple Twitter/X accounts via Nitter without needing an X.com account"
description.fr = "Suivez plusieurs comptes Twitter/X via Nitter sans avoir besoin d'un compte X.com"

version = "1.0~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://github.com/Citify/nitter-aggregator"
code = "https://github.com/Citify/nitter-aggregator_ynh"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/nitter"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    
    api.url = "/nitter-proxy.php"
    api.show_tile = false
    api.allowed = "visitors"
    api.auth_header = false
    api.protected = false

    [resources.apt]
    packages = ["php8.2-fpm", "php8.2-curl"]
